body {
  text-align: center;
}

h1 {
  background-color: #33aeff;
  color: white;
  font-size: 3em;
  margin-bottom: 1em;
}

.btn-a {
  color: #fff;
  display: inline-block;
  font-size: 2em;
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: center;
  text-decoration: none;
  width: 20%;
  border-radius: 1em;
  background-color: #444444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(#990000));
  background-image: linear-gradient(to bottom, red, #990000);
}

.btn-b {
  color: #fff;
  display: inline-block;
  font-size: 2em;
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: center;
  text-decoration: none;
  width: 20%;
  border-radius: 0.5em;
  background-color: #444444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(green), to(#001a00));
  background-image: linear-gradient(to bottom, green, #001a00);
}

.btn-c {
  color: #fff;
  display: inline-block;
  font-size: 2em;
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: center;
  text-decoration: none;
  width: 20%;
  border-radius: 5em;
  background-color: #444444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(#000099));
  background-image: linear-gradient(to bottom, blue, #000099);
}

.btn-d {
  color: #fff;
  display: inline-block;
  font-size: 2em;
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: center;
  text-decoration: none;
  width: 20%;
  border-radius: 50%;
  background-color: #444444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(orange), to(#996300));
  background-image: linear-gradient(to bottom, orange, #996300);
}

.btn-e {
  color: #fff;
  display: inline-block;
  font-size: 2em;
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: center;
  text-decoration: none;
  width: 20%;
  border-radius: 1em;
  background-color: #444444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(orange), to(#996300));
  background-image: linear-gradient(to bottom, orange, #996300);
}

.btn-f {
  color: #fff;
  display: inline-block;
  font-size: 2em;
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: center;
  text-decoration: none;
  width: 20%;
  border-radius: 0.5em;
  background-color: #444444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(#000099));
  background-image: linear-gradient(to bottom, blue, #000099);
}

.btn-g {
  color: #fff;
  display: inline-block;
  font-size: 2em;
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: center;
  text-decoration: none;
  width: 20%;
  border-radius: 5em;
  background-color: #444444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(green), to(#001a00));
  background-image: linear-gradient(to bottom, green, #001a00);
}

.btn-h {
  color: #fff;
  display: inline-block;
  font-size: 2em;
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: center;
  text-decoration: none;
  width: 20%;
  border-radius: 50%;
  background-color: #444444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(#990000));
  background-image: linear-gradient(to bottom, red, #990000);
}